<mat-toolbar color="primary">
    <a mat-button routerLink="/">Inicio</a>
    <a mat-button routerLink="/contacts">Contactos</a>
    <a mat-button routerLink="/new-contact">Nuevo contacto</a>
</mat-toolbar>
<mat-card class="base">
    <mat-card-title class="title">Editar Contacto</mat-card-title>
    <hr>
    <mat-card-content>
        <form (submit)="updateContact()">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="name" required [(ngModel)]="contact.name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Primer apellido</mat-label>
                <input matInput type="text" name="surname" required [(ngModel)]="contact.surname">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Segundo apellido</mat-label>
                <input matInput type="text" name="lastName" required [(ngModel)]="contact.lastName">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput type="text" name="telephone" required [(ngModel)]="contact.telephone">
                <mat-icon matSuffix color="primary">smartphone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" required [(ngModel)]="contact.email">
                <mat-icon matSuffix color="primary">mail</mat-icon>
            </mat-form-field>

            <div class="boton"><button mat-stroked-button color="primary" type="submit">GUARDAR</button></div>

        </form>
    </mat-card-content>
</mat-card>
